{% extends 'base.html.twig' %}
{% block navigation %}
	<button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false">
		<span>Menu</span>
	</button>
	<div class="menu">
		<ul class="nav-menu">
			<li class="page_item page-item-1 current_page_item focus">
				<a href="/compte">Informations</a>
			</li>
			<li class="page_item page-item-1 current_page_item focus">
				<a href="/compte/commandes">Commandes</a>
			</li>
		</ul>
	</div>
{% endblock %}
{% block body %}
	<div class="container col-full">
		{% if bought %}
			<h1>Commande effectuée</h1>
			<h3>Date de livraison estimée : {{ commande.getDateLivraison()|date('Y-m-d') }}</h3>
		{% endif %}
		<h2>Commande</h2>
		<h3>Informations</h3>
		<p>Numéro de commande :
			{{ commande.getId() }}</p>
		<p>Date de commande :
			{{ commande.getDate()|date('Y-m-d') }}</p>
		<p>Adresse :{{ commande.getAdresse() }},
			{{ commande.getVille() }},
			{{ commande.getCodePostal() }},
			{{ commande.getPays() }}</p>
		<p>Montant total :
			{{ commande.getTotal() }}
			€</p>
		<div class="table">
			<table>
				<tr>
					<th>Article</th>
					<th>Quantité</th>
					<th>Prix unitaire</th>
					<th>Prix total</th>
				</tr>
				{% for lignePanier in commande.getLignesPanier() %}
					<tr onclick="window.location.href = '/produit/{{ lignePanier.getArticle().getId() }}'">
						<td>{{ lignePanier.getArticle().getTitre() }}</td>
						<td>{{ lignePanier.getQuantite() }}</td>
						<td>{{ lignePanier.getPrixUnitaire() }}
							€</td>
						<td>{{ lignePanier.getPrixTotal() }}
							€</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}
