{% extends 'base.html.twig' %}
{% block navigation %}
	<button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false">
		<span>Menu</span>
	</button>
	<div class="menu">
		<ul class="nav-menu">
			<li class="page_item page-item-1 current_page_item focus">
				<a href="/afficheRecherche">Rechercher un article</a>
			</li>
		</ul>
	</div>
{% endblock %}
{% block body %}
	<div class="container col-full">
		<h2>{{ article.titre }}</h2>
		<img src="{{ article.image }}" alt="{{ article.titre }}" style="max-width: 200px; max-height: 200px;">
		<p>Prix:
			{{ article.prix }}
			€</p>
		{% if article.disponibilite > 0 %}
			<p>Disponible en stock</p>
		{% else %}
			<p>Non disponible en stock</p>
		{% endif %}
		{% if article.auteur is defined %}
			{% if article.auteur == null %}
				<p>Auteur: inconnu</p>
			{% else %}
				<p>Auteur:
					{{ article.auteur }}</p>
			{% endif %}

			{% if article.isbn == null %}
				<p>ISBN: inconnu</p>
			{% else %}
				<p>ISBN:
					{{ article.isbn }}</p>
			{% endif %}

			{% if article.nbPages == null %}
				<p>Nombre de pages: inconnu</p>
			{% else %}
				<p>Nombre de pages:
					{{ article.nbPages }}</p>
			{% endif %}

			{% if article.dateDeParution == null %}
				<p>Date de parution: inconnu</p>
			{% else %}
				<p>Date de parution:
					{{ article.dateDeParution }}</p>
			{% endif %}

		{% elseif article.artiste is defined %}
			{% if article.artiste == null %}
				<p>Artiste: inconnu</p>
			{% else %}
				<p>Artiste:
					{{ article.artiste }}</p>
			{% endif %}

			{% if article.dateDeParution == null %}
				<p>Date de parution: inconnu</p>
			{% else %}
				<p>Date de parution:
					{{ article.dateDeParution }}</p>
			{% endif %}

		{% elseif article.marque is defined %}
			<p>Marque:
				{{ article.marque }}</p>
			{% if article.marque is null %}
				<p>Marque: inconnu</p>
			{% endif %}
		{% endif %}
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			{{ form_start(form) }}
			{{ form_label(form.quantite, "Quantité") }}
			{{ form_widget(form.quantite) }}
			{{ form_widget(form.ajouter) }}
			{{ form_end(form) }}
		{% endif %}
	</div>
{% endblock %}
